@if(old('notification'))
@if(old('fail'))
<div class="alert alert-danger text-center">
    {{ old('notification') }}
</div>
@else
<div class="alert alert-success text-center">
    {{ old('notification') }}
</div>
@endif
@endif